<ion-header>
  <ion-toolbar>
      <ion-item>
        <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtolistaricette()"></ion-icon>
        <ion-title color="light" text-center class="title-text">UniCook</ion-title>
      </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item style="font-size: 20px">Seleziona la Categoria</ion-item>
    <!-- immagine antipasto -->
    <ion-card>
        <ion-item button="true" (click)="onDetails()">
            <ion-img src="/assets/images/antipasto.jpg"></ion-img>
            <h1 style="font-size: 18px; text-align: center; margin-left: 450px; color: #4a5052">Antipasto</h1>
        </ion-item>
    </ion-card>
    <!-- immagine Primi Piatti-->
    <ion-card>
        <ion-item button="true" (click)="onDetails()">
            <ion-img src="/assets/images/primipiatti.jpg"></ion-img>
            <h1 style="font-size: 18px; text-align: center; margin-left: 450px; color: #4a5052">Primi Piatti</h1>
        </ion-item>
    </ion-card>
    <!-- immagine Secondi Piatti-->
    <ion-card>
        <ion-item button="true" (click)="onDetails()">
            <ion-img src="/assets/images/secondipiatti.jpg"></ion-img>
            <h1 style="font-size: 18px; text-align: center; margin-left: 450px; color: #4a5052">Secondi Piatti</h1>
        </ion-item>
    </ion-card>
    <!-- immagine contorni-->
    <ion-card>
        <ion-item button="true" (click)="onDetails()">
            <ion-img src="/assets/images/contorni.jpg"></ion-img>
            <h1 style="font-size: 18px; text-align: center; margin-left: 450px; color: #4a5052">Contorni</h1>
        </ion-item>
        </ion-card>
    <!-- immagine dolci-->
    <ion-card>
        <ion-item button="true" (click)="onDetails()">
            <ion-img src="/assets/images/dolci.jpg"></ion-img>
            <h1 style="font-size: 18px; text-align: center; margin-left: 450px; color: #4a5052">Dolci</h1>
        </ion-item>
    </ion-card>
</ion-content>
