// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #088cd6;
  --ion-color-primary-rgb: 8,140,214;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #077bbc;
  --ion-color-primary-tint: #2198da;

  --ion-color-secondary: #088cd6;
  --ion-color-secondary-rgb: 8,140,214;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #077bbc;
  --ion-color-secondary-tint: #2198da;

  --ion-color-tertiary: #088cd6;
  --ion-color-tertiary-rgb: 8,140,214;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #077bbc;
  --ion-color-tertiary-tint: #2198da;

  --ion-color-success: #a7a7a7;
  --ion-color-success-rgb: 167,167,167;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #939393;
  --ion-color-success-tint: #ffff70;

  --ion-color-warning: #a7a7a7;
  --ion-color-warning-rgb: 167,167,167;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #939393;
  --ion-color-warning-tint: #b0b0b0;

  --ion-color-danger: #a7a7a7;
  --ion-color-danger-rgb: 167,167,167;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #939393;
  --ion-color-danger-tint: #b0b0b0;

  --ion-color-dark: #088cd6;
  --ion-color-dark-rgb: 8,140,214;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #077bbc;
  --ion-color-dark-tint: #2198da;

  --ion-color-medium: #a7a7a7;
  --ion-color-medium-rgb: 167,167,167;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #939393;
  --ion-color-medium-tint: #b0b0b0;

  --ion-color-light: #fffeff;
  --ion-color-light-rgb: 255,254,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #fffeff;

  --ion-toolbar-background: var(--ion-color-primary);
}
