<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title color="light" text-center class="title-text" style="padding-right: 0px; padding-left: 60px">UniCook</ion-title>
      <ion-button size="small" expand="block" color="light" class="text-color-bottom" (click)="onLogin()">
        LOGIN
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div margin-top="20px">
  <ion-button size="default" expand="block" color="primary">{{ 'FILTERS' | translate }}</ion-button>
  </div>
  <ion-list>
    <ion-item>
      <div style="width: 100px; height: 100px; margin-bottom: 10px; margin-top: 10px; background-color: #088cd6"></div>
      <ion-label>
        <ion-badge style="background: #ffff70; color: #939393; margin-top: 5px; margin-bottom: 5px; position: absolute; top: 2px; left: 108px">CATEGORIA</ion-badge>
        <h1 style="font-size: 20px; text-align: left; margin-left: 10px; color: #939393">Nome della ricetta</h1>
        <h2 style="font-size: 15px; text-align: left; margin-left: 10px; color: #939393">mese giorno, anno</h2>
        <h2 style="font-size: 15px; text-align: left; margin-left: 10px; color: #939393">00:00</h2>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div style="padding-bottom: 40px">
    <ion-fab-button color="primary" (click)="onCreapubblica()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    </div>
  </ion-fab>
  <ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="categorie" (click)="onListacategorie()">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'CATEGORIE_TAB' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ingredienti" (click)="onListaingredienti()">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>{{ 'INGREDIENTI_TAB' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="listapreferiti">
      <ion-icon name="star"></ion-icon>
      <ion-label>{{ 'LISTAPREFERITI_TAB' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
