<ion-content padding>
  <div margin-top="20px">
    <ion-button size="default" expand="block" color="primary">{{ 'FILTERS' | translate }}</ion-button>
  </div>
  <ion-list>
    <!-- lista ricette -->
    <!-- <ion-card></ion-card> -->
    <ion-item button="true" (click)="onDetails()">
      <!-- immagine ricetta -->
      <div style="width: 110px; height: 110px; margin-bottom: 10px; margin-top: 10px; background-color: #088cd6"></div>
      <!-- testo ricetta -->
      <ion-label>
        <!-- le informazioni saranno passate all'interno dei tag sottostanti all'interno delle {} -->
        <ion-badge style="background: #ffff70; color: #939393; margin-top: 5px; margin-bottom: 5px; position: absolute; top: 2px; left: 120px; text-transform: uppercase">categoria</ion-badge>
        <h1 style="font-size: 20px; text-align: left; margin-left: 10px; color: #939393">Nome della ricetta</h1>
        <h2 style="font-size: 15px; text-align: left; margin-left: 10px; color: #939393">mese giorno, anno</h2>
        <h2 style="font-size: 15px; text-align: left; margin-left: 10px; color: #939393">00:00</h2>
      </ion-label>
    </ion-item>
    <!-- -->
  </ion-list>
</ion-content>
