<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtodettaglioricetta()"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- per lasciare un commento -->
  <ion-card>
  <ion-list>
      <ion-item>
        <ion-label  style="font-size: 20px; color: black; text-align: left; font-weight: unset;">{{ 'EVALUATE_RECIPE' | translate}}</ion-label>
      </ion-item>
  <!-- -->
    <ion-item>
      <!-- icone -->
      <ion-icon slot="end"  name="thumbs-down" style="color: #e0e0e0"></ion-icon>
      <ion-icon slot="end" name="thumbs-up" style="color: #e0e0e0"></ion-icon>
      <!-- nome utente -->
      <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
    </ion-item>
    <!-- icone -->
    <ion-item>
      <ion-icon slot="end"  name="star-outline"></ion-icon>
      <ion-icon slot="end"  name="star-outline"></ion-icon>
      <ion-icon slot="end"  name="star-outline"></ion-icon>
      <ion-icon slot="end"  name="star-outline"></ion-icon>
      <ion-icon slot="end"  name="star-outline"></ion-icon>
      <!-- (ICONA SCURA)  <ion-icon slot="end"  name="star"></ion-icon> -->
      <!-- (ICONA SCURA A META')  <ion-icon slot="end"  name="star-half"></ion-icon> -->
      <!-- -->
      <!-- nome utente -->
      <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
    </ion-item>
    <!-- bottone commenta -->
    <div margin-top="10px">
      <ion-button size="medium" expand="block" color="primary" style="margin-right: 50px; margin-left: 50px;" (click)="funzioneAlert()">{{ 'EVALUATE' | translate}}</ion-button>
    </div>
  </ion-list>
  </ion-card>

  <!-- lista commenti -->
  <ion-card margin-top="20px">
    <ion-list>
      <ion-item>
        <ion-label  style="font-size: 20px; color: black; text-align: left; font-weight: unset;">{{ 'EVALUTATIONS_LIST' | translate}}</ion-label>
      </ion-item>
      <!-- -->
      <ion-item>
        <!-- icone -->
        <ion-icon slot="end"  name="thumbs-down" style="color: #e0e0e0"></ion-icon>
        <ion-icon slot="end" name="thumbs-up"></ion-icon>
        <!-- nome utente -->
        <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
      </ion-item>
      <!-- -->
      <ion-item>
        <!-- icone -->
        <ion-icon slot="end"  name="thumbs-down"></ion-icon>
        <ion-icon slot="end" name="thumbs-up" style="color: #e0e0e0"></ion-icon>
        <!-- nome utente -->
        <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
      </ion-item>
      <!-- icone -->
      <!-- commento 1 -->
      <ion-item>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <!-- (ICONA SCURA)  <ion-icon slot="end"  name="star-outline"></ion-icon> -->
        <!-- (ICONA SCURA A META')  <ion-icon slot="end"  name="star-half"></ion-icon> -->
        <!-- -->
        <!-- nome utente -->
        <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
      </ion-item>
      <!-- commento 2 -->
      <ion-item>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star-outline"></ion-icon>
        <!-- -->
        <!-- nome utente -->
        <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
      </ion-item>
      <!-- commento 3 -->
      <ion-item>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star"></ion-icon>
        <ion-icon slot="end"  name="star-outline"></ion-icon>
        <!-- -->
        <!-- nome utente -->
        <ion-label style="font-weight: unset; color: #939393; text-align: left">Nome dell'utente</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
