<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtolistaricette()"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- elementi della pagina selezionabili -->
  <ion-item style="font-size: 20px">Seleziona gli Ingredienti</ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Limone</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Pepe</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Pollo</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Paprika</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Aglio</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Sale</ion-label>
    </ion-item>
  <!-- footer con icone per cambiare pagine -->
  <ion-tabs>
    <div margin-top="20px" margin-bottom="20px">
      <!-- da implementare la funzione 'onSearch' al 'click' del bottone -->
      <ion-button size="medium" expand="block" color="primary">
        {{ 'SEARCH_BUTTON' | translate }}
      </ion-button>
    </div>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="categorie" (click)="onListacategorie()">
        <ion-icon name="list"></ion-icon>
        <ion-label>{{ 'CATEGORIE_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <!-- da cambiare (ad esempio con listaricette generico) -->
      <ion-tab-button tab="ingredienti">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>{{ 'INGREDIENTI_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="listapreferiti">
        <ion-icon name="star"></ion-icon>
        <ion-label>{{ 'LISTAPREFERITI_TAB' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
