<ion-content>
  <ion-item lines="none" class="text-color-bottom ion-margin-horizontal">{{'INGREDIENTI_HEADER' | translate}}</ion-item>
  <ion-list>
    <ion-item *ngFor="let ingrediente of ingredienti">
      <ion-label class="ion-text-left ion-margin-horizontal">{{ingrediente.nome}}</ion-label>
      <ion-checkbox slot="end" class="ion-margin-horizontal" (click)="selectMember(ingrediente,$event)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button size="medium" expand="block" class="ion-margin-start ion-margin-end" color="primary" (click)="filterRicette()">
    {{'CERCA_BUTTON' | translate}}
  </ion-button>
</ion-footer>
