<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtolistaricette()"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin-top="20px">
    <!-- da implementare la funzione 'onSearch' al 'click' del bottone -->
    <ion-button size="medium" expand="block" color="primary">
      {{ 'SEARCH_BUTTON' | translate }}
    </ion-button>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="categorie" (click)="onListacategorie()">
        <ion-icon name="list"></ion-icon>
        <ion-label>{{ 'CATEGORIE_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <!-- da cambiare (ad esempio con listaricette generico) -->
      <ion-tab-button tab="ingredienti">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>{{ 'INGREDIENTI_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="listapreferiti">
        <ion-icon name="star"></ion-icon>
        <ion-label>{{ 'LISTAPREFERITI_TAB' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
