<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtolistaricette()"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <!-- elementi della pagina selezionabili -->
    <ion-item style="font-size: 20px">Seleziona gli Ingredienti</ion-item>
  <!-- elementi per lettera A -->
    <ion-item style="background-color: #088cd6;">
      <ion-label style="font-size: large; text-align: left; color: #fffeff;">A</ion-label>
    </ion-item>
  <!-- -->
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
  <!-- elementi per lettera B -->
    <ion-item style="background-color: #088cd6;">
      <ion-label style="font-size: large; text-align: left; color: #fffeff;">B</ion-label>
    </ion-item>
  <!-- -->
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
    <!-- elementi per lettera C -->
    <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">C</ion-label>
    </ion-item>
  <!-- -->
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox checked="false"></ion-checkbox>
      <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
    </ion-item>
  <!-- elementi per lettera D -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">D</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox disabled="true"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente non selezionabile</ion-label>
  </ion-item>
  <!-- elementi per lettera E -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">E</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera F -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">F</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera G -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">G</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera H -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">H</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera I -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">I</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera J-K -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">J - K</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera L -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">L</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera M -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">M</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera N -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">N</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera O -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">O</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera P -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">P</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera Q -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">Q</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera R -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">R</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera S -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">S</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera T -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">T</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera U -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">U</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera V -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">V</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  <!-- elementi per lettera W-X-Y: forse -->
  <!-- elementi per lettera Z -->
  <ion-item style="background-color: #088cd6;">
    <ion-label style="font-size: large; text-align: left; color: #fffeff;">Z</ion-label>
  </ion-item>
  <!-- -->
  <ion-item>
    <ion-checkbox checked="false"></ion-checkbox>
    <ion-label style="text-align: left; margin-left: 15px; font-weight: unset; font-size: 18px; color: #000;" >Ingrediente</ion-label>
  </ion-item>
  </ion-list>

  <div margin-top="20px" margin-bottom="20px">
    <!-- da implementare la funzione 'onSearch' al 'click' del bottone -->
    <ion-button size="medium" expand="block" color="primary">
      {{ 'SEARCH_BUTTON' | translate }}
    </ion-button>
  </div>

</ion-content>

<!-- footer: implementazione pulsante "cerca" per filtrare le ricette in base agli ingredienti selezionati -->
<!--<ion-footer>
  <div margin-top="20px" margin-bottom="20px">
     da implementare la funzione 'onSearch' al 'click' del bottone
    <ion-button size="medium" expand="block" color="primary">
      {{ 'SEARCH_BUTTON' | translate }}
    </ion-button>
  </div>
</ion-footer>-->
