<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon (click)="backtologin()" name="arrow-round-back" padding color="light" align-items-baseline="left"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FormRegister -->
  <form [formGroup]="registerForm" class="bg-light">
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>NOME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-input color="secondary" type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>COGNOME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-input color="secondary" type="text" formControlName="cognome"></ion-input>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>DATA DI NASCITA</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-datetime displayFormat="DD/MM/YYYY" doneText="{{ 'DONE_TEXT' | translate }}" cancelText="{{ 'CANCEL_TEXT' | translate}}" formControlName="datanascita"></ion-datetime>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>SESSO</ion-label>
    </ion-item>
    <ion-list>
      <ion-radio-group>
        <ion-item>
          <ion-label text-left="10px">Uomo</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label text-left="10px">Donna</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-label>USERNAME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-input color="secondary" type="text" formControlName="usernamer"></ion-input>
    </ion-item>
    <form formGroupName="passwordsGroup" class="bg-light">
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-label>PASSWORD</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-input color="secondary" type="password" formControlName="passwordr"></ion-input>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-label>RIPETI PASSWORD</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
        <ion-input color="secondary" type="password" formControlName="pconfirm"></ion-input>
    </ion-item>
    </form>
    <div margin-top="20px">
        <ion-button size="medium" expand="block" color="primary" (click)="onRegister()">
            {{ 'REGISTER_BUTTON' | translate }}
        </ion-button>
    </div>
  </form>
</ion-content>
