<ion-header>
  <ion-toolbar>
    <ion-item>
      <!-- icona per tornare a "listaricette" -->
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtolistaricette()"></ion-icon>
      <!-- icona logo UniCook -->
      <ion-title color="light" text-center class="title-text" style="padding-right: 20px">UniCook</ion-title>
      <!-- icona per cancellare il contenuto della pagina -->
      <ion-icon name="trash" padding color="light" align-items-baseline="left" (click)="cancel()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <form></form> -->
    <ion-list>
  <ion-item style="font-size: 20px">Crea la tua ricetta</ion-item>
  <!-- Titolo -->
  <ion-item>
    <ion-textarea type="text" maxlength="40" placeholder="Titolo *" style="margin-bottom: -10px; font-size: 18px"></ion-textarea>
  </ion-item>
  <!-- Descrizione -->
  <ion-item>
    <ion-textarea type="text" maxlength="70" placeholder="Breve Descrizione *" style="margin-bottom: -10px; font-size: 18px"></ion-textarea>
  </ion-item>
  <!-- Difficolta' -->
  <ion-item>
    <ion-label style="font-size: 18px; text-align: left">Difficolta'</ion-label>
    <ion-select placeholder="seleziona..." style="font-size: 18px">
      <ion-select-option value="easy">Facile</ion-select-option>
      <ion-select-option value="medium">Media</ion-select-option>
      <ion-select-option value="difficult">Difficile</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Tempo -->
  <ion-item>
    <ion-label style="font-size: 18px; text-align: left">Tempo</ion-label>
    <ion-select placeholder="seleziona..." style="font-size: 18px">
      <ion-select-option value="10min">10 min</ion-select-option>
      <ion-select-option value="20min">20 min</ion-select-option>
      <ion-select-option value="30min">30 min</ion-select-option>
      <ion-select-option value="45min">45 min</ion-select-option>
      <ion-select-option value="1h">1 h</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Categoria -->
  <ion-item>
    <ion-label style="font-size: 18px; text-align: left">Categoria</ion-label>
    <ion-select placeholder="seleziona..." style="font-size: 18px">
      <ion-select-option value="starter">Antipasto</ion-select-option>
      <ion-select-option value="firstcourse">Primo</ion-select-option>
      <ion-select-option value="secondcourse">Secondo</ion-select-option>
      <ion-select-option value="dessert">Dessert</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- N. persone -->
  <ion-item>
    <ion-label style="font-size: 18px; text-align: left">Num. Persone</ion-label>
    <ion-select placeholder="seleziona..." style="font-size: 18px">
      <ion-select-option value="min">2 Persone</ion-select-option>
      <ion-select-option value="max">4 Persone</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Ingredienti -->
  <ion-item>
    <ion-textarea placeholder="Lista Ingredienti *" style="font-size: 18px"></ion-textarea>
  </ion-item>
  <!-- Preparazione -->
    <ion-item>
      <ion-textarea type="text" placeholder="Preparazione *" style="font-size: 18px"></ion-textarea>
    </ion-item>
  <!-- Immagini (min 1, max 3) -->
  <ion-item>
    <ion-textarea disabled="true" style="font-size: 18px; margin-bottom: -40px">Inserisci un'immagine (min. 1 - max. 3)</ion-textarea>
  </ion-item>
    <ion-grid>
      <ion-row>
        <!-- foto n.1 -->
        <ion-col>
          <ion-img src="/assets/images/foto01.jpg"></ion-img>
        </ion-col>
        <!-- foto n.2 -->
        <ion-col>
          <ion-img src="/assets/images/foto02.jpg"></ion-img>
        </ion-col>
        <!-- foto n.3 -->
        <ion-col>
          <ion-img src="/assets/images/foto03.jpg"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-list>

      <div margin-top="20px" margin-bottom="20px">
      <ion-button size="medium" expand="block" color="primary" (click)="funzioneAlert()">
        {{ 'CREATE_BUTTON' | translate }}
      </ion-button>
      </div>

</ion-content>

<!-- footer: implementazione pulsante "Pubblica" per filtrare le ricette in base agli ingredienti selezionati -->
<!--<ion-footer>
  <div margin-top="20px" margin-bottom="20px">
     da implementare la funzione 'onpublic' al 'click' del bottone
    <ion-button size="medium" expand="block" color="primary">
      {{ 'CREATE_BUTTON' | translate }}
    </ion-button>
  </div>
</ion-footer>
-->
