<ion-content>
  <ion-item lines="none" class="text-color-bottom">{{ 'PREFERITO_HEADER' | translate }}</ion-item>
  <ion-list>
    <ion-item button="true" *ngFor="let element of preferiti" [routerLink]="['/dettaglioricetta', element.ricetta.idricetta]" routerDirection="forward">
      <!-- immagine ricetta -->
      <ion-grid class="ion-grid-width-sm">
        <ion-row>
          <ion-col size="4">
            <ion-img src="{{ element.ricetta.immagini[0].webviewpath }}"></ion-img>
          </ion-col>
          <ion-col size="8">
            <!-- testo ricetta -->
            <ion-label>
              <!-- le informazioni sono passate nei tag sottostanti -->
              <p class="title-ricetta">{{ element.ricetta.nomericetta }}</p>
              <ion-badge color="primary">{{ element.ricetta.categoria.nome }}</ion-badge>
              <p>{{ element.ricetta.data }} {{ element.ricetta.ora }}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
