<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light">
  <div class="bg-light"></div>
  <!-- Logo -->
  <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo"></div>
  </div>
  <!-- FormLogin -->
  <form [formGroup]="formLogin" class="bg-light">
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>USERNAME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <input class="center-block" padding-horizontal type="text" formControlName="username" />
      <p text-center class="text08" *ngIf="formLogin.get('username').touched && formLogin.get('username').invalid">
        {{ 'USERNAME_REQUIRED' | translate }}
      </p>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>PASSWORD</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <input class="center-block" padding-horizontal type="password" formControlName="password" />
      <p text-center class="text08" *ngIf="formLogin.get('password').touched && formLogin.get('password').invalid">
        {{ 'PASSWORD_REQUIRED' | translate }}
      </p>
    </ion-item>
    <div margin-top="20px">
      <ion-button size="medium" expand="block" color="primary" (click)="onLogin()" [disabled]="!formLogin.valid" tappable>
        {{ 'LOGIN_BUTTON' | translate }}
      </ion-button>
    </div>
    <div margin-top="20px">
      <ion-button size="medium" expand="block" color="primary" (click)="onRecovery()">
        {{ 'RECOVERY_BUTTON' | translate }}
      </ion-button>
    </div>
    <div margin-top="20px">
      <ion-button size="medium" expand="block" color="primary" (click)="onRegister()">
        {{ 'REGISTER_BUTTON' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
