<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon (click)="backtologin()" name="arrow-round-back" padding color="light" align-items-baseline="left"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FormRegister -->
  <form [formGroup]="registerForm" class="bg-light">
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>NOME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <input class="center-block" padding-horizontal type="text" formControlName="nome" />
      <p text-center class="text08" *ngIf="registerForm.get('nome').touched && registerForm.get('nome').invalid">
        {{ 'NAME_REQUIRED' | translate }}
      </p>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>COGNOME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <input class="center-block" padding-horizontal type="text" formControlName="cognome" />
      <p text-center class="text08" *ngIf="registerForm.get('cognome').touched && registerForm.get('cognome').invalid">
        {{ 'SURNAME_REQUIRED' | translate }}
      </p>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>DATA DI NASCITA</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="datanascita" />
      <p text-center class="text08" *ngIf="registerForm.get('datanascita').touched && registerForm.get('datanascita').invalid">
        {{ 'DATE_REQUIRED' | translate }}
      </p>
    </ion-item>
  </form>
</ion-content>
