<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-round-back" padding color="light" align-items-baseline="left" (click)="backtologin()"></ion-icon>
      <ion-title color="light" text-center class="title-text">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formrecuperopassword -->
  <form [formGroup]="formRecuperoPassword" class="bg-light">
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>USERNAME</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-input color="secondary" type="text" formControlName="username"></ion-input>
      <p text-center class="text08" *ngIf="formRecuperoPassword.get('username').touched && formRecuperoPassword.get('username').invalid">
        {{ 'USERNAME_REQUIRED' | translate }}
      </p>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-label>{{ 'RECOVERY_KEY' | translate }}</ion-label>
    </ion-item>
    <ion-item position="floating" no-padding class="animated fadeInUp">
      <ion-input color="secondary" type="text" formControlName="chiaverecupero"></ion-input>
      <p text-center class="text08" *ngIf="formRecuperoPassword.get('chiaverecupero').touched && formRecuperoPassword.get('chiaverecupero').invalid">
        {{ 'CHIAVERECUPERO_REQUIRED' | translate }}
      </p>
    </ion-item>
    <div margin-top="20px">
      <ion-button size="medium" expand="block" color="primary" (click)="onRecovery()" [disabled]="!formRecuperoPassword.valid" tappable>
        {{ 'CHIAVERECUPERO_BUTTON' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
