<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <!-- Icona inerente alla freccia per tornare alla lista delle ricette -->
      <ion-icon name="arrow-back-outline" color="light" class="ion-float-left" (click)="onLogin()"></ion-icon>
      <!-- Titolo della App UniCook -->
      <ion-title color="light" class="ion-text-center">UniCook</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- PasswordRecovery Form -->
  <form [formGroup]="recuperoFormModel" class="list-form">
    <ion-item>
      <ion-label class="ion-text-start">{{ 'USERNAME' | translate}}</ion-label>
      <ion-input color="secondary" type="email" formControlName="username"></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="recuperoFormModel.get('username').touched && recuperoFormModel.get('username').invalid">
      <ion-text color="success" class="ion-margin-start"> {{ 'USERNAME_REQUIRED' | translate }} </ion-text>
    </p>
    <ion-item>
      <ion-label class="ion-text-start">{{ 'RECOVERY_KEY' | translate}}</ion-label>
      <ion-input color="secondary" type="email" formControlName="chiaverecupero"></ion-input>
    </ion-item>
    <p ion-text class="text08" *ngIf="recuperoFormModel.get('chiaverecupero').touched && recuperoFormModel.get('chiaverecupero').invalid">
      <ion-text color="success" class="ion-margin-start"> {{ 'RECOVERY_KEY_REQUIRED' | translate }} </ion-text>
    </p>
    <div margin-top="20px">
      <ion-button size="medium" expand="block" class="ion-margin-start ion-margin-end" color="primary" [disabled]="!recuperoFormModel.valid" tappable="true" (click)="recovery()">
        {{ 'RECOVERY_BUTTON' | translate}}
      </ion-button>
    </div>

  </form>
</ion-content>
