<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-icon name="arrow-back-outline" color="light" (click)="goToListaRicette()"></ion-icon>
      <ion-title color="light" class="ion-text-right title-text">UniCook</ion-title>
      <ion-button size="small" expand="block" color="light" class="text-color-bottom">
        {{ 'LOGIN_HEADER' | translate }}
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="categorie">
        <ion-icon name="list"></ion-icon>
        <ion-label>{{ 'CATEGORIE_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ingredienti">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>{{ 'INGREDIENTI_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="preferiti">
        <ion-icon name="star"></ion-icon>
        <ion-label>{{ 'LISTAPREFERITI_TAB' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
