<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <!-- Icona inerente alla freccia per tornare alla lista delle ricette -->
      <ion-icon name="arrow-back-outline" class="ion-float-left" color="light" (click)="goToListaRicette()"></ion-icon>
      <!-- Titolo della App UniCook -->
      <ion-title color="light" class="ion-text-center">UniCook</ion-title>
      <!-- Bottone Login per passare alla Page Login -->
      <ion-button *ngIf="!isLogged" size="small" expand="block" color="light" class="text-color-bottom ion-float-right" (click)="goToLogin()">
        {{ 'LOGIN_HEADER' | translate }}
      </ion-button>
      <!-- Bottone Logout presente nel caso in cui l'utente è loggato -->
      <ion-button *ngIf="isLogged" size="small" expand="block" color="light" class="text-color-bottom ion-float-right" (click)="logout()">
        {{ 'LOGOUT_HEADER' | translate }}
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="categorie">
        <ion-icon name="list"></ion-icon>
        <ion-label>{{ 'CATEGORIE_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ingredienti">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>{{ 'INGREDIENTI_TAB' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="preferiti">
        <ion-icon name="star"></ion-icon>
        <ion-label>{{ 'LISTAPREFERITI_TAB' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
